.ProfilePage {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--navbar-height) + 3rem) 0 0;
  min-height: calc(100vh - var(--navbar-height));
  width: 100vw;
}

.ProfilePage .ProfileCard {
  height: 480px;
}

@media screen and (max-width: 640px) {
  .ProfilePage {
    flex-direction: column;
    width: 100vw;
  }
  /* .ProfilePage .ProfileCard {
  } */
}
